.header{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    height: 210px;
}
.Intro{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
   
}
.img img{
    width: 200px; height: auto;
    padding-left: 10px;
    border-radius: 50%;
    padding-left: 0%;
   
}
.name {
     text-align: center;
     position: static;
    
}

.me{
    background-color: lightgrey;
    height: 350px;
}
.table{
    padding-left: 300px;
    padding-bottom: 30px;
    border-collapse: collapse;
}
.footer{
     background-color: gray;
        padding: 10px;
     text-align: center;
      margin-top: 0px;
      height: auto;
}

